@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: local('ArchivoBlack-Regular''), ur;(./../assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  }

  .content {
    background-color: #121212;
}

.Ellennavbar {
    color: white;
    font-size: 30px;
    padding-left: 93%;
    margin-right: 100px;
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 8%;
  }

  .Ellennavbar a {
    display: block;
    padding: 16px;
  }

.Ellen-heading {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 50px;
}

.Ellen-heading > p {
    font-family: 'ArchivoBlack-Regular';
    font-size: 110px;
    color: white;
    padding-left: 115px;
    position: absolute;
    bottom: 5px;
    text-align: left;
    line-height: 100px;
    letter-spacing: 5px;
}

.Ellen-heading > img {
    width: 800px;
    height: 500px;
   padding: 0px 150px 110px 540px;
    float: right;
    vertical-align: top;
    position: relative;
}

.ellen-topimage {
    opacity: 0.4;
}

.Ellen-information {
    color: white;
    font-family: arpona, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    padding-left: 115px;
    line-height: 40px;
    margin-top: -70px;
}

.Ellen-date {
    display: flex;
    flex-direction: row;
}

.Ellen-date1 {
    font-weight: 600;
    padding-right: 5px;
}

.Ellen-location {
    display: flex;
    flex-direction: row;
}

.Ellen-location1 {
    font-weight: 600;
    padding-right: 5px;
}

.Ellen-role {
    display: flex;
    flex-direction: row;
}

.Ellen-role1 {
    font-weight: 600;
    padding-right: 5px;
}

.Ellen-firsttier {
    display: flex;
  flex-direction: row;
  color: white;
}

.Ellen-firsttier > img {
    width: 490px;
    height: 320px;
    padding: 300px 100px 100px 200px;
    float: right;
    vertical-align: top;
    padding-right: 100px;
}

.Ellen-firsttiertext {
    color:white;
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    line-height: 60px;
    padding-top: 50px;
}

.hostedanight {
    line-height: 50px;
    padding-right: 150px;
}

.FriendsofEllen {
    color: white;
    font-family: arpona, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    padding-right: 150px;
    line-height: 30px;
    padding-top: 20px;
}

.Ellen-secondtier {
    display: flex;
  flex-direction: row;
}

.Ellen-secondtierimg {
    width: 35%;
    height: 55%;
    padding-left: 5%;
    padding-top: 30px;
}

.Ellen-thirdtierimg {
    width: 35%;
    height: 55%;
   padding-left: 15%;
   padding-top: 300px;
}

.Ellen-thirdtier {
    color: white;
    font-family: arpona, serif;
}

.Ellen-thirdtier > h1 {
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    line-height: 60px;
    display:block;
    padding-right:30%;
    padding-left: 30%;
    padding-top: 50px;
}

.Ellen-thirdtier > div {
    color: white;
    font-family: arpona, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    display:block;
    padding-right:30%;
    padding-left: 30%;
}

.Ellen-bottom {
    color: white;
    font-family: 'ArchivoBlack-Regular';
    font-size: 40px;
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    margin-bottom: 50px;
}

.Ellen-bottom > .Ellen-Home {
    padding-left: 25%;
}

.Ellen-bottom > .Ellen-NextEvent {
    padding-left: 25%;
}


.EllenBFA {
    color:white;
  font-family: futura-pt, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .Ellennavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }
    
    .Ellen-heading > p {
        font-size: 53px;
        margin-left: -90px;
        margin-bottom: -90px;
        line-height: normal;
        letter-spacing: normal;
    }

    .Ellen-heading {
        flex-direction: column-reverse;
    }

    .Ellen-heading > img {
        width: 400px;
        height: 290px;
        margin-left: -510px;
        margin-top: -45px;
    }

    .Ellen-information {
        font-size: 15px;
        padding-top: 150px;
        padding-left: 25px;
        line-height: 25px;
    }

    .Ellen-firsttier {
        flex-direction: column-reverse;
    }

    .hostedanight {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 50px;
    }

    .FriendsofEllen {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Ellen-firsttier > img {
        width: 400px;
    display: block;
    padding-left: 25px;
    padding-top: 100px;
    }

    .Ellen-secondtierimg {
        width: 400px;
    display: block;
    padding-left: 25px;
    padding-top: 50px;
    }
    
    .Ellen-secondtier {
        flex-direction: column-reverse;
    }

    .Ellen-thirdtierimg {
        width: 400px;
    display: block;
    padding-left: 25px;
    padding-top: 150px;
    }

    .Ellen-thirdtier > h1 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 50px;
    }
    
    .Ellen-thirdtier > div {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Ellen-bottom {
        font-size: 30px;
    }
  
    .Ellen-bottom > .Ellen-Home {
      padding-left: 50px;
  }
  
  .Ellen-bottom > .Ellen-NextEvent {
      padding-left: 200px;
      margin-top: -15px;
  }

}





