@font-face {
  font-family: 'ArchivoBlack-Regular';
  src: local('ArchivoBlack-Regular''), ur;(./../assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

.content {
  background-color: #121212;
}

a {
  color: #FFF;
}

a:link {
  text-decoration: none;
}

.navbar {
  width: 100%;
 color: white;
 font-size: 30px;
 padding-left: 1300px;
 margin-right: 100px;
 text-decoration: none;
 padding-top: 50px;
 position: fixed;
 z-index: 1;
}

.navbar a {
  display: block;
  padding: 16px;
}

.vr1 {
  width:3px;
  background-color:#ffffff;
  position:absolute;
  top: 700px;
  bottom:0px;
  left:80px;
  height: 1150px;
}

.vr2 {
  width:3px;
  background-color:#ffffff;
  position:absolute;
  height: 1100px;
  left: 80px;
  top: 2000px;
}

.work {
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 80px;
  padding-top: 40px;
}

.about {
  color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 80px;
  padding-top: 130px;
}

.heading {
  font-family: 'ArchivoBlack-Regular';
  font-size: 60px;
  padding-left: 130px;
  padding-top: 380px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.Design-projects {
  font-family: futura-pt, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 40px;
  padding-top: 275px;
  padding-left: 200px;
  color: white;
}

.design-projects-link-level-1 {
  text-decoration: none;
  font-family: futura-medium;
  font-size: 40px;
  padding-left: 350px;
  padding-top: 10px;
}

.design-projects-link-level-2 {
  text-decoration: none;
  font-family: futura-medium;
  font-size: 40px;
  padding-left: 500px;
  padding-top: 40px;
}

.design-projects-link-level-3 {
  text-decoration: none;
  font-family: futura-medium;
  font-size: 40px;
  padding-left: 650px;
  padding-top: 50px;
}

.Events {
  font-family: futura-pt, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 40px;
  padding-top: 100px;
  padding-left: 1050px;
  color: white;
}

.design-projects-link-level-4 {
  text-decoration: none;
  font-family: futura-medium;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 530px;
}

.design-projects-link-level-5 {
  text-decoration: none;
  font-family: futura-medium;
  font-size: 40px;
  padding-top: 55px;
  padding-left: 230px;
}

.design-projects-link-level-6 {
  text-decoration: none;
  font-family: futura-medium;
  font-size: 40px;
  padding-top: 60px;
  padding-left: 150px;
}

.More-about-me {
  font-family: futura-pt, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 40px;
  color: white;
  padding-top: 255px;
  padding-left: 115px;
}

.Bio {
  display: flex;
  flex-direction: row;
  font-family: arpona, serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 50px;
}

.Bio > div > p {
  font-family: arpona, serif;
  font-style: normal;
  font-weight: 100;
  color: white;
  font-size: 18px;
  padding-left: 115px;
  padding-right: 20px;
  line-height: 45px;
}

.Bio > div {
  color: white;
}

.homepage-image > img { 
  width: 500px;
  height: 650px;
  padding: 45px 50px 50px 100px;
  padding-right: 180px;
  float: right;
  vertical-align: top;
}

.letstalk {
  font-family: arpona, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.my-name-tyler:hover {
  color: pink;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .Design-projects {
    padding-left: 16px;
  }

  .design-projects-link-level-1 {
    padding-left: 16px;
  }
}