@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: local('ArchivoBlack-Regular''), ur;(./../assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  }

  .content {
    background-color: #121212;
}

.Noblenavbar {
    color: white;
   font-size: 30px;
   padding-left: 93%;
   margin-right: 100px;
   text-decoration: none;
   position: fixed;
   top: 0;
   z-index: 1;
   margin-top: 8%;
  }

  .Noblenavbar a {
    display: block;
    padding: 16px;
  }
  
.Noble-heading {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 50px;
}

.Noble-heading > p {
    font-family: 'ArchivoBlack-Regular';
    font-size: 100px;
    color: white;
    padding-left: 115px;
    position: absolute;
    bottom: 5px;
    text-align: left;
    line-height: 100px;
    letter-spacing: 15px;
}

.Noble-heading > img {
    width: 800px;
    height: 500px;
   padding: 0px 150px 110px 540px;
    float: right;
    vertical-align: top;
    position: relative;
}

.Noble-topimage {
    opacity: .64;
}

.Noble-information {
    color: white;
    font-family: arpona, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    padding-left: 115px;
    line-height: 40px;
    margin-top: -70px;
}

.Noble-date {
    display: flex;
    flex-direction: row;
}

.Noble-date1{
    font-weight: 600;
    padding-right: 5px;
}

.Noble-location {
    display: flex;
    flex-direction: row;
}

.Noble-location1 {
    font-weight: 600;
    padding-right: 5px;
}

.Noble-client {
    display: flex;
    flex-direction: row;
}

.Noble-client1 {
    font-weight: 600;
    padding-right: 5px;
}

.Noble-role {
    display: flex;
    flex-direction: row;
}

.Noble-role1 {
    font-weight: 600;
    padding-right: 5px;
}

.Noble-firsttierimg > img{
    width: 35%;
    height: 55%;
    height: relative;
    padding-left: 55%;
    padding-top: 10px;
}

.Noble-firsttierinfo {
    display: flex;
    flex-direction: row;
}


.Noble-firsttierinfo > img {
    width: 35%;
    height: 50%;
    float: left;
    vertical-align: top;
    padding-left: 150px;
    padding-top: 80px;
}

.Noble-firsttierinfo > h2 {
    color: white;
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    line-height: 60px;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 300px;
    line-height: 50px;
}

.Noble-firsttiersubheading {
    color: white;
    font-family: arpona, serif;
    font-style: normal;
    font-weight: 100;
    padding-right: 10%;
    padding-left: 50%;
}

.Noble-secondtier {
    display: flex;
    flex-direction: row;
    color: white;
}

.Noble-secondtier > img{
    width: 35%;
    height: 55%;
    float: right;
    vertical-align: top;
    padding-top: 100px;
    padding-right: 120px;
}
.Noble-secondtier > h2 {
    color: white;
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    line-height: 60px;
    padding-left: 115px;
    padding-top: 275px;
    padding-right: 150px;
}

.Noble-secondtiersubheading {
    color: white;
    font-family: arpona, serif;
    font-style: normal;
    font-weight: 100;
    padding-left: 115px;
    padding-right: 700px;
}

.Noble-bottom {
    color: white;
    font-family: 'ArchivoBlack-Regular';
    font-size: 40px;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    margin-bottom: 50px;
}

.Noble-bottom > .Noble-Home {
    padding-left: 25%;
}

.Noble-bottom > .Noble-NextEvent {
    padding-left: 25%;
}

.NobleBFA {
    color:white;
  font-family: futura-pt, sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .Noblenavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }
    
    .Noble-heading > p {
        font-size: 60px;
        margin-left: -90px;
        margin-bottom: -105px;
        line-height: normal;
        letter-spacing: 5px;
    }

    .Noble-heading {
        flex-direction: column-reverse;
    }

    .Noble-heading > img {
        width: 400px;
        height: 290px;
        margin-left: -510px;
        margin-top: -45px;
    }

    .Noble-information {
        font-size: 15px;
        padding-top: 150px;
        padding-left: 25px;
        line-height: 25px;
    }

    .Noble-firsttierinfo { 
        flex-direction: column-reverse;
    }

    .Noble-firsttierimg > img{ 
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
    }

    .Noble-firsttierinfo > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-firsttiersubheading {
        padding-left: 25px;
        padding-right: 50px;
        margin-top: -550px;
    }

    .Noble-firsttierinfo > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 150px;
    }

    .Noble-secondtier {
        flex-direction: column-reverse;
    }

    .Noble-secondtier > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 450px;
    }

    .Noble-secondtier > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-secondtiersubheading {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Noble-bottom {
        font-size: 30px;
    }
  
    .Noble-bottom > .Noble-Home {
      padding-left: 50px;
  }
  
  .Noble-bottom > .Noble-NextEvent {
      padding-left: 200px;
      margin-top: -15px;
  }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Noblenavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }
    
    .Noble-heading > p {
        font-size: 60px;
        margin-left: -90px;
        margin-bottom: -105px;
        line-height: normal;
        letter-spacing: 5px;
    }

    .Noble-heading {
        flex-direction: column-reverse;
    }

    .Noble-heading > img {
        width: 400px;
        height: 290px;
        margin-left: -510px;
        margin-top: -45px;
    }

    .Noble-information {
        font-size: 15px;
        padding-top: 150px;
        padding-left: 25px;
        line-height: 25px;
    }

    .Noble-firsttierinfo { 
        flex-direction: column-reverse;
    }

    .Noble-firsttierimg > img{ 
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
    }

    .Noble-firsttierinfo > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-firsttiersubheading {
        padding-left: 25px;
        padding-right: 50px;
        margin-top: -550px;
    }

    .Noble-firsttierinfo > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 150px;
    }

    .Noble-secondtier {
        flex-direction: column-reverse;
    }

    .Noble-secondtier > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 450px;
    }

    .Noble-secondtier > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-secondtiersubheading {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Noble-bottom {
        font-size: 30px;
    }
  
    .Noble-bottom > .Noble-Home {
      padding-left: 50px;
  }
  
  .Noble-bottom > .Noble-NextEvent {
      padding-left: 200px;
      margin-top: -15px;
  }}

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Noblenavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }
    
    .Noble-heading > p {
        font-size: 60px;
        margin-left: -90px;
        margin-bottom: -105px;
        line-height: normal;
        letter-spacing: 5px;
    }

    .Noble-heading {
        flex-direction: column-reverse;
    }

    .Noble-heading > img {
        width: 400px;
        height: 290px;
        margin-left: -510px;
        margin-top: -45px;
    }

    .Noble-information {
        font-size: 15px;
        padding-top: 150px;
        padding-left: 25px;
        line-height: 25px;
    }

    .Noble-firsttierinfo { 
        flex-direction: column-reverse;
    }

    .Noble-firsttierimg > img{ 
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
    }

    .Noble-firsttierinfo > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-firsttiersubheading {
        padding-left: 25px;
        padding-right: 50px;
        margin-top: -550px;
    }

    .Noble-firsttierinfo > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 150px;
    }

    .Noble-secondtier {
        flex-direction: column-reverse;
    }

    .Noble-secondtier > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 450px;
    }

    .Noble-secondtier > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-secondtiersubheading {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Noble-bottom {
        font-size: 30px;
    }
  
    .Noble-bottom > .Noble-Home {
      padding-left: 50px;
  }
  
  .Noble-bottom > .Noble-NextEvent {
      padding-left: 200px;
      margin-top: -15px;
  }}

  @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {  .Noblenavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }
    
    .Noble-heading > p {
        font-size: 60px;
        margin-left: -90px;
        margin-bottom: -105px;
        line-height: normal;
        letter-spacing: 5px;
    }

    .Noble-heading {
        flex-direction: column-reverse;
    }

    .Noble-heading > img {
        width: 400px;
        height: 290px;
        margin-left: -510px;
        margin-top: -45px;
    }

    .Noble-information {
        font-size: 15px;
        padding-top: 150px;
        padding-left: 25px;
        line-height: 25px;
    }

    .Noble-firsttierinfo { 
        flex-direction: column-reverse;
    }

    .Noble-firsttierimg > img{ 
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
    }

    .Noble-firsttierinfo > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-firsttiersubheading {
        padding-left: 25px;
        padding-right: 50px;
        margin-top: -550px;
    }

    .Noble-firsttierinfo > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 150px;
    }

    .Noble-secondtier {
        flex-direction: column-reverse;
    }

    .Noble-secondtier > img {
        width: 400px;
        display: block;
        padding-left: 45px;
        padding-top: 100px;
        height: 50%;
        margin-top: 450px;
    }

    .Noble-secondtier > h2 {
        font-size: 25px;
        padding-left: 25px;
        padding-top: 100px;
        line-height: 35px;
        padding-right: 25px;
    }

    .Noble-secondtiersubheading {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Noble-bottom {
        font-size: 30px;
    }
  
    .Noble-bottom > .Noble-Home {
      padding-left: 50px;
  }
  
  .Noble-bottom > .Noble-NextEvent {
      padding-left: 200px;
      margin-top: -15px;
  }}








