@font-face {
    font-family: 'ArchivoBlack-Regular';
    src: local('ArchivoBlack-Regular''), ur;(./../assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
  }

  .content {
    background-color: #121212;
}

.Ramen-Webdesignheading {
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding-left: 115px;
    margin-top: 4%;
}

.Ramennavbar {
    color: white;
    font-size: 30px;
    padding-left: 93%;
    margin-right: 100px;
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 12%;
}

.Ramennavbar a {
    display: block;
    padding: 16px;
}

.Ramen-heading {
    display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 20px;
}

.Ramen-heading > p {
    font-family: 'ArchivoBlack-Regular';
    font-size: 120px;
    color: white;
    padding-left: 115px;
    position: absolute;
    text-align: left;
    letter-spacing: 5px;
    bottom: 40px;
    top: -50px;
}

.Ramen-Homepage {
    width: 600px;
    height: auto;
    margin-left: 650px;
    margin-top: -150px;
    float: right;
    position: relative;
}

.Ramen-Homepage {
    opacity: .75;
}

.Ramen-information {
   color: white;
   font-family: arpona, serif;
   font-weight: 100;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0px;
}

.Ramen-Year2020 {
    display: flex;
}

.Ramen-Year {
    padding-right: 5px;
    font-weight: 600;
}

.Ramenpersonalgoals {
    flex-direction: row;
    display:flex;
    position: relative;
}

.Ramen-Personalgoals1 {
    font-weight: 600;
    padding-right: 5px;
}

.Ramenfirsttier {
    padding-top: 10%;
    padding-left: 40%;
}

.Ramenfirsttierheading {
    color: white;
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    line-height: 50px;
    padding-right: 20%;
    margin-top: -8%;
}

.Ramenfirsttiersubheading {
    color: white;
    font-family: arpona, serif;
    font-style: normal;
    font-weight: 100;
    line-height: 40px;
    padding-right: 25%;
}

.Ramen-designelementsheading {
    color: white;
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    padding-top: 120px;
    padding-left: 115px;
}

.Ramen-Designelements {
    display: flex;
    flex-direction: row;
}

.Eckmannpsych {
    color: white;
    font-size: 30px;
    padding-left: 155px;
    padding-top: 40px;
    font-family: eckmannpsych-large, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.Futura {
    color: white;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding-left: 155px;
    padding-top: 30px;
}

.Ramen-colors {
    padding-left: 17%;
    height: 5%;
    width: 35%;
}

.Ramen-Wireframes {
    color: white;
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    padding-top: 140px;
    padding-left: 115px;
}

.Ramen-Wireframeexp {
    color: white;
    font-family: arpona, serif;
    font-weight: 200;
    padding-left: 115px;
    font-size: 18px;
    padding-right: 115px;
}

.Ramen-Wireframesimg {
    width: 70%;
    height: auto;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Ramen-Hifi {
    color: white;
    font-size: 40px;
    font-family: arpona, serif;
    font-style: bold;
    font-weight: 600;
    padding-left: 115px;
    padding-top: 100px;
}

.Ramen-Landingpage {
    color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 115px;
}

.Ramen-Landingpageexp {
    color: white;
    font-family: arpona, serif;
    font-weight: 200;
  font-size: 17px;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 10px;
}

.Ramen-vr1 {
    width:3px;
  background-color:#ffffff;
  position:absolute;
  top: 3000px;
  bottom:0px;
  left: 115px;
  height: 610px;
}

.Ramen-landingpageimg {
    width: 70%;
    height: auto;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Ramen-Homepage1 {
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 115px;
}

.Ramen-Homepageexp {
    color: white;
    font-family: arpona, serif;
    font-weight: 200;
  font-size: 17px;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 10px;
}

.Ramen-vr2 {
    width:3px;
  background-color:#ffffff;
  position:absolute;
  top: 3800px;
  bottom:0px;
  left: 115px;
  height: 850px;
}

.Ramen-homepageimg {
    width: 70%;
    height: auto;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Ramen-Menu {
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 115px;
    padding-top: 80px;
}

.Ramen-Menueexp {
    color: white;
    font-family: arpona, serif;
    font-weight: 200;
  font-size: 17px;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 10px;
}

.Ramen-vr3 {
    width:3px;
  background-color:#ffffff;
  position:absolute;
  top: 4850px;
  bottom:0px;
  left: 115px;
  height: 930px;
}

.Ramen-menuimg {
    width: 70%;
    height: auto;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Ramen-About {
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 115px;
    padding-top: 80px;
}

.Ramen-Aboutexp {
    color: white;
    font-family: arpona, serif;
    font-weight: 200;
  font-size: 17px;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 10px;
}

.Ramen-vr4 {
    width:3px;
  background-color:#ffffff;
  position:absolute;
  top: 5960px;
  bottom:0px;
  left: 115px;
  height: 815px;
}

.Ramen-aboutimg {
    width: 70%;
    height: auto;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Ramen-bottom {
    color: white;
    font-family: 'ArchivoBlack-Regular';
    font-size: 40px;
    display: flex;
    flex-direction: row;
    padding-top: 130px;
    margin-bottom: 70px;
}

.Ramen-bottom > .Ramen-Home {
    padding-left: 25%;
}

.Ramen-bottom > .Ramen-NextProject {
    padding-left: 25%;
}

.Skye {
    color: white;
    font-family: arpona, serif;
    font-weight: 200;
  font-size: 17px;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 100px;
}

@media only screen and (max-width: 600px) { 
    .Ramennavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }

    .Ramen-heading{
        flex-direction: column-reverse;
    }

    .Ramen-heading > p {
        font-size: 65px;
        margin-left: -90px;
       padding-top: 210px;
    }

    .Ramen-heading > img {
        width: 60%;
        padding-top: 23%;
        margin-left: 90px;
    }

    .Ramen-information {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 10px;
        line-height: 25px;
        padding-right: 25px;
    }

    .Ramenpersonalgoals {
        flex-direction: column;
    }

    .Ramenfirsttier {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Ramenfirsttierheading {
        font-size: 25px;
    padding-top: 250px;
    line-height: 35px;
    letter-spacing: normal;
    margin-right: -100px;
    }
    
    .Ramenfirsttiersubheading {
        font-size: 18px;
        padding-right: 25px;
    }

    .Ramen-designelementsheading {
        padding-left: 25px;
        font-size: 30px;
    }

    .Ramen-Designelements {
        flex-direction: column-reverse;
    }

    .Ramen-colors {
        padding-left: 25px;
        width: 80%;
        height: 30%;
    }

    .Eckmannpsych {
        padding-left: 25px;
        padding-top: 15px;
    }

    .Futura {
        padding-left: 25px;
    }

    .Ramen-Wireframes {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Wireframeexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-Wireframesimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Hifi {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Landingpage {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Landingpageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-vr1 {
        visibility: hidden;
    }
    .Ramen-vr2 {
        visibility: hidden;
    }
    .Ramen-vr3 {
        visibility: hidden;
    }
    .Ramen-vr4 {
        visibility: hidden;
    }

    .Ramen-landingpageimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Homepage1 {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Homepageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-homepageimg {
        width: 82%;
        height: 65%;
    }
    
    .Ramen-Menu {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Menueexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-menuimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-About {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Aboutexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-aboutimg {
        width: 82%;
        height: 65%;
    }

    .Skye {
        padding-left: 25px;
    }

    .Ramen-bottom {
        font-size: 30px;
    }
  
    .Ramen-bottom > .Ramen-Home {
      padding-left: 50px;
  }
  
  .Ramen-bottom > .Ramen-NextProject {
      padding-left: 150px;
      margin-top: -15px;
      margin-bottom: 20px;
  }

}

@media only screen and (max-width: 1426px) {
    .Ramen-vr1 {
        display: none;
    }
    
    .Ramen-vr2 {
        display: none;
    }

    .Ramen-vr3 {
        display: none;
    }

    .Ramen-vr4 {
        display: none;
    }

    .Ramen-vr5 {
        display: none;
    }

    .Ramenpersonalgoals {
        flex-direction: column;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .Ramennavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }

    .Ramen-heading{
        flex-direction: column-reverse;
    }

    .Ramen-heading > p {
        font-size: 65px;
        margin-left: -90px;
       padding-top: 210px;
    }

    .Ramen-heading > img {
        width: 60%;
        padding-top: 23%;
        margin-left: 90px;
    }

    .Ramen-information {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 10px;
        line-height: 25px;
        padding-right: 25px;
    }

    .Ramenpersonalgoals {
        flex-direction: column;
    }

    .Ramenfirsttier {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Ramenfirsttierheading {
        font-size: 25px;
    padding-top: 250px;
    line-height: 35px;
    letter-spacing: normal;
    margin-right: -100px;
    }
    
    .Ramenfirsttiersubheading {
        font-size: 18px;
        padding-right: 25px;
    }

    .Ramen-designelementsheading {
        padding-left: 25px;
        font-size: 30px;
    }

    .Ramen-Designelements {
        flex-direction: column-reverse;
    }

    .Ramen-colors {
        padding-left: 25px;
        width: 80%;
        height: 30%;
    }

    .Eckmannpsych {
        padding-left: 25px;
        padding-top: 15px;
    }

    .Futura {
        padding-left: 25px;
    }

    .Ramen-Wireframes {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Wireframeexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-Wireframesimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Hifi {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Landingpage {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Landingpageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-vr1 {
        visibility: hidden;
    }
    .Ramen-vr2 {
        visibility: hidden;
    }
    .Ramen-vr3 {
        visibility: hidden;
    }
    .Ramen-vr4 {
        visibility: hidden;
    }

    .Ramen-landingpageimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Homepage1 {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Homepageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-homepageimg {
        width: 82%;
        height: 65%;
    }
    
    .Ramen-Menu {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Menueexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-menuimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-About {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Aboutexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-aboutimg {
        width: 82%;
        height: 65%;
    }

    .Skye {
        padding-left: 25px;
    }

    .Ramen-bottom {
        font-size: 30px;
    }
  
    .Ramen-bottom > .Ramen-Home {
      padding-left: 50px;
  }
  
  .Ramen-bottom > .Ramen-NextProject {
      padding-left: 150px;
      margin-top: -15px;
      margin-bottom: 20px;
  }}

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Ramennavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }

    .Ramen-heading{
        flex-direction: column-reverse;
    }

    .Ramen-heading > p {
        font-size: 65px;
        margin-left: -90px;
       padding-top: 210px;
    }

    .Ramen-heading > img {
        width: 60%;
        padding-top: 23%;
        margin-left: 90px;
    }

    .Ramen-information {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 10px;
        line-height: 25px;
        padding-right: 25px;
    }

    .Ramenpersonalgoals {
        flex-direction: column;
    }

    .Ramenfirsttier {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Ramenfirsttierheading {
        font-size: 25px;
    padding-top: 250px;
    line-height: 35px;
    letter-spacing: normal;
    margin-right: -100px;
    }
    
    .Ramenfirsttiersubheading {
        font-size: 18px;
        padding-right: 25px;
    }

    .Ramen-designelementsheading {
        padding-left: 25px;
        font-size: 30px;
    }

    .Ramen-Designelements {
        flex-direction: column-reverse;
    }

    .Ramen-colors {
        padding-left: 25px;
        width: 80%;
        height: 30%;
    }

    .Eckmannpsych {
        padding-left: 25px;
        padding-top: 15px;
    }

    .Futura {
        padding-left: 25px;
    }

    .Ramen-Wireframes {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Wireframeexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-Wireframesimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Hifi {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Landingpage {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Landingpageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-vr1 {
        visibility: hidden;
    }
    .Ramen-vr2 {
        visibility: hidden;
    }
    .Ramen-vr3 {
        visibility: hidden;
    }
    .Ramen-vr4 {
        visibility: hidden;
    }

    .Ramen-landingpageimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Homepage1 {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Homepageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-homepageimg {
        width: 82%;
        height: 65%;
    }
    
    .Ramen-Menu {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Menueexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-menuimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-About {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Aboutexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-aboutimg {
        width: 82%;
        height: 65%;
    }

    .Skye {
        padding-left: 25px;
    }

    .Ramen-bottom {
        font-size: 30px;
    }
  
    .Ramen-bottom > .Ramen-Home {
      padding-left: 50px;
  }
  
  .Ramen-bottom > .Ramen-NextProject {
      padding-left: 150px;
      margin-top: -15px;
      margin-bottom: 20px;
  }}

  @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { .Ramennavbar {
        position: fixed;
        font-size: 25px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
       margin-left: -10px;
    }

    .Ramen-heading{
        flex-direction: column-reverse;
    }

    .Ramen-heading > p {
        font-size: 65px;
        margin-left: -90px;
       padding-top: 210px;
    }

    .Ramen-heading > img {
        width: 60%;
        padding-top: 23%;
        margin-left: 90px;
    }

    .Ramen-information {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 10px;
        line-height: 25px;
        padding-right: 25px;
    }

    .Ramenpersonalgoals {
        flex-direction: column;
    }

    .Ramenfirsttier {
        padding-left: 25px;
        padding-right: 50px;
    }

    .Ramenfirsttierheading {
        font-size: 25px;
    padding-top: 250px;
    line-height: 35px;
    letter-spacing: normal;
    margin-right: -100px;
    }
    
    .Ramenfirsttiersubheading {
        font-size: 18px;
        padding-right: 25px;
    }

    .Ramen-designelementsheading {
        padding-left: 25px;
        font-size: 30px;
    }

    .Ramen-Designelements {
        flex-direction: column-reverse;
    }

    .Ramen-colors {
        padding-left: 25px;
        width: 80%;
        height: 30%;
    }

    .Eckmannpsych {
        padding-left: 25px;
        padding-top: 15px;
    }

    .Futura {
        padding-left: 25px;
    }

    .Ramen-Wireframes {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Wireframeexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-Wireframesimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Hifi {
        padding-left: 25px;
        font-size: 30px;
        padding-top: 150px;
    }

    .Ramen-Landingpage {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Landingpageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-vr1 {
        visibility: hidden;
    }
    .Ramen-vr2 {
        visibility: hidden;
    }
    .Ramen-vr3 {
        visibility: hidden;
    }
    .Ramen-vr4 {
        visibility: hidden;
    }

    .Ramen-landingpageimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-Homepage1 {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Homepageexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-homepageimg {
        width: 82%;
        height: 65%;
    }
    
    .Ramen-Menu {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Menueexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-menuimg {
        width: 82%;
        height: 65%;
    }

    .Ramen-About {
        padding-left: 25px;
        font-size: 18px;
    }

    .Ramen-Aboutexp {
        padding-left: 25px;
        padding-right: 50px;
        padding-top: 10px;
    }

    .Ramen-aboutimg {
        width: 82%;
        height: 65%;
    }

    .Skye {
        padding-left: 25px;
    }

    .Ramen-bottom {
        font-size: 30px;
    }
  
    .Ramen-bottom > .Ramen-Home {
      padding-left: 50px;
  }
  
  .Ramen-bottom > .Ramen-NextProject {
      padding-left: 150px;
      margin-top: -15px;
      margin-bottom: 20px;
  }}

  








