body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ArchivoBlack-Regular";
  src: url("./assets/fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "futura-pt";
  src: url("./assets/fonts/futur.ttf") format("truetype");
}

@font-face {
  font-family: "arpona";
  src: url("./assets/fonts/Arpona-Light.otf") format("opentype");
}
